@import 'defaults';

.m-login-box {
  margin-top: $minds-margin * 2;
  width: 100% !important;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin: 0;
    font-size: 24px;
    line-height: 26px;
  }

  .mdl-grid {
    padding: 0;
    width: 100%;
  }

  input {
    padding: $minds-padding * 2;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 3px;
    font-family: 'Avenir', 'Roboto', Helvetica, sans-serif;
    font-weight: 800;
    @include m-theme() {
      border: 1px solid themed($m-grey-50);
    }

    &::placeholder {
      font-weight: 400;
    }

    @media screen and (max-width: $max-mobile) {
      border-width: 0 0 2px 0 !important;
    }
  }

  #username {
    background-image: url('<%= APP_CDN %>/assets/icons/email.png');
    background-repeat: no-repeat;
    background-position: 8px 18px;
    background-size: 21px;
    padding-left: 37px;
  }

  #password {
    background-image: url('<%= APP_CDN %>/assets/icons/password.png');
    background-repeat: no-repeat;
    background-position: 12px 17px;
    background-size: 14px;
    padding-left: 37px;
  }

  .m-reset-password-link {
    padding-left: $minds-padding * 2;
    text-decoration: none;
  }

  .m-btn {
    &.btn-login-custom {
      width: 100%;
      border-radius: 4px;
      border-width: 2px;
      border-color: #53ccff;
      color: #53ccff;
      text-transform: none;

      &:hover {
        @include m-theme() {
          border: 2px solid rgba(themed($m-grey-200), 0.6);
        }
      }
    }

    &.btn-login-twitter {
      width: 100%;
      border-radius: 4px;
      border-width: 2px !important;
      border-color: #a7ddff !important;
      background-color: #a7ddff !important;
      color: #fff !important;
      position: relative;
      padding-left: 40px;
      text-transform: none;

      &:hover {
        @include m-theme() {
          border: 2px solid rgba(themed($m-grey-200), 0.6);
        }
      }

      img {
        position: absolute;
        top: 6px;
        left: 6px;
        height: 25px;
      }
    }
  }
}
