<div class="fo-register">
  <div class="fo-login-right">
    <div class="rect left">
      <img src="{{ minds.cdn_assets_url }}assets/photos/fo-signup-bg1.png" />
    </div>
    <div class="rect right">
      <img src="{{ minds.cdn_assets_url }}assets/photos/fo-signup-bg2.png" />
    </div>

    <div class="right-container">
      <div class="right-cover">
        <div class="rect left"></div>
        <div class="rect right"></div>
        <div class="brandname mobile">
          <h3><span class="fans">Fans</span>Only</h3>
          <p>A community with no boundaries</p>
        </div>
      </div>

      <div class="login-box">
        <div class="brandname web">
          <h3><span class="fans">Fans</span>Only</h3>
          <p>A community with no boundaries</p>
        </div>

        <div class="inputform">
          <div class="mobile-title"><p>Login</p></div>
          <minds-form-register
            (done)="registered()"
            [referrer]="refferrer"
            parentId="/register"
          ></minds-form-register>
        </div>

        <div>
          <div class="noaccount">
            <button class="m-btn" routerLink="/login">
              Already have an account? Login
            </button>
          </div>
        </div>
      </div>

      <div class="right-footer">
        <div class="mobile">
          <p>Disclaimers</p>
        </div>

        <div class="web">
          <div>Privacy Policy</div>
          <div>|</div>
          <div>Cookie Policy</div>
        </div>
      </div>
    </div>
  </div>
</div>
